[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.0.352"
openai = "==0.27.8"
python-dotenv = "==1.0.0"
tiktoken = "*"
chromadb = "*"

[dev-packages]

[requires]
python_version = "3.11"
